{% extends 'base.html' %}
{% block css %}
{% load staticfiles %}
{% block src %}
    <script src= "{% static 'js/d3.v4.min.js' %}"></script>
    <script src= "{% static 'js/d3v4-brush-lite.js' %}"></script>
    <script src= "{% static 'js/d3v4-selectable-force-directed-graph.js' %}"></script>
{% endblock src %}
{% block css %}
    .graph_container{
        position: absolute;
        right:0;
        display: flex;
        flex-direction: row;
        align-content:center;
        width:30%;
        border: transparent;
        padding: 0.5rem;
        box-shadow: 0 4px 6px 0 rgba(50, 138, 175, 0.749);
        border-radius: 0.4rem;
        background-color:rgba(180, 180, 139, 0.264);

    }
    
    .graph_layout {
        margin: auto;
        width:30%
        min-width: 600px;
        flex:1
    }

    .graph_title {
        text-align: center;
        padding:0.75rem;
        margin-bottom:1rem;

    }
    .wide_graph{
        width:100%;
        height: 500px;
    }

    {% comment %} direct graph  {% endcomment %}
    .svg_ov {
        border: 1px solid;
        font: 13px sans-serif;
        text-anchor: end;
    }

    #d3_selectable_force_directed_graph .node {
        stroke: #fff;
        stroke-width: 1.5px;
    }


    .link {
        stroke: #999;
    } 


    .table_view{
        left:0;
        width:70%;
        
    }
    .node .selected{
        stroke-width: 2px;
        stroke:#1a2bec;
    }

 {% endblock %}
# content for author overview

    .clickable:hover {text-decoration: underline; cursor: pointer; color:blue; font-weight:bold}

{% endblock %}

{% block content %}
<div class="col-md-10"  style=" margin-top:20px; margin-left: 60px; margin-bottom: 20px">
    <h2 style="margin-top:30px">CIS Authors</h2>
<div class="graph_container">
    <div class = "graph_layout">
        <div class = "graph_title country_graph">
            <H3>Overview of All Unimelb CIS Researchers</H3>
        </div>
        <div class = "wide_graph" id = "overview_research">
        </div>
    </div>

</div>

<script>
    var svg = d3.select('#overview_research')
        .append("svg")
        .attr("class","svg_ov");

    d3.json("{% url "research_network" %}", function(error, graph) {
        if (!error) {
            createV4SelectableForceDirectedGraph(svg, graph);
        } else {
            console.error(error);
        }
    });
    

    
</script>
    <div class="table_view">
        <h2 style="margin-top:30px">CIS Authors</h2>
        <table id="cisauthors" class="table table-striped table-bordered" style="margin-bottom:30px">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Staff Type</th>
                    <th>Email</th>
                    <th>Total Paper Counts</th>
                    <th>Total Cited Counts</th>
                </tr>
            </thead>
            <tbody id="tbodyCisauthor">
                {% for cisauthor in cisAuthorDictList %}
                    <tr class="cisauthor">
                        <td class="coauthorName clickable" id={{ cisauthor.id }}>{{ cisauthor.name }}</td>
                        <td class="coauthorStaffType ">{{ cisauthor.staffType }}</td>
                        <td class="coauthorEmail ">{{ cisauthor.email }}</td>
                        <td class="coauthorDocumentCounts ">{{ cisauthor.documentCounts }}</td>
                        <td class="coauthorCitedCounts ">{{ cisauthor.citedCounts }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
            <tbody id="tbodyCoauthor">
                {% for coauthor in authordetailsDict.coauthorlist %}
    {#                            <tr class="coauthor pointer" id={{ coauthor.id }}>#}
                    <tr class="coauthor" id={{ coauthor.id }} cis={{ coauthor.authorType }}>
                        <td class="coauthorName clickable">{{ coauthor.name }}</td>
                        <td class="coauthorPaper clickable">{{ coauthor.papercount }}</td>
    {#                                <td class="pointer">{{ coauthor.name }}</td>#}
    {#                                <td class="pointer">{{ coauthor.papercount }}</td>#}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    

    <script>

        $('#cisauthors').DataTable();
        {#$('#coauthorlist_paginate').hide();#}
        $('#tbodyCisauthor').on('click', '.coauthorName', function () {
            var cisauthorId = $(this).attr('id');
            console.log(cisauthorId);
            var host = location.host;
            var url = "http://" + host + "/authorDetails/" + cisauthorId;
            window.location.href = url;
        });

{% endblock %}

    </script>
</div>

{% endblock %}
