{% extends 'base.html' %}
{% load staticfiles  %}
# content for author details
# name, orcid, email, staff type, paper count, cited count, paper list (title)
# todo: add author photo
{% block css %}

    .clickable:hover {text-decoration: underline; cursor: pointer; color:blue; font-weight:bold}

{% endblock %}

{% block src %}
        <script src="{% static 'js/d3.v3.min.js' %}"></script>
        <script src="{% static 'js/d3.layout.js' %}"></script>
        <script src="{% static 'js/d3.geom.js' %}"></script>
        <script src="{% static 'js/detector.js' %}"></script>
        <script src="{% static 'js/CodeFlower.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock src %}

{% block content %}

    <title>Author Details</title>

    <div class="container">
        <div class="row">
            <div id="authorDetails" style="padding: 10px; margin-top: 10px;" class="col-md-6">

                <h2 id="name">
                    {{authordetailsDict.fullName}}
                </h2>
                <h4 id="orcid">
                    ORCID: {{authordetailsDict.orcid}}
                </h4>
                <h4 id="email">
                    Email: {{authordetailsDict.email}}
                </h4>
                <h4 id="staffType">
                    Staff Type: {{authordetailsDict.staffType}}
                </h4>
                <h4 id="paperCount">
                    Document count: {{authordetailsDict.document_count}}
                </h4>
                <h4 id="citedCount">
                    Cited By Count: {{authordetailsDict.cited_by_count}}
                </h4>
            </div>

            <div id="authorRelationship" class="col-md-6" style="margin-top: 10px;">

                <img src="{% static authordetailsDict.imgpath %}" onerror="this.onerror=null;this.src='{% static "res/noimage.png" %}';" style="margin-top:30px;width: 200px
; height: auto; text-align: center"/>

            </div>

        </div>
    <br>
    <hr style="background-color: black; height: 2px;">
    <br>
        <div class="row">
            <div class="col-md-12">
                <h2 style="margin-top:40px">Documents List</h2>
                <table id="paperlist" class="table table-striped table-bordered" style="margin-bottom:30px">
                    <thead>
                        <tr>
                            <th>Title</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyTitle">
                        {% for paper in authordetailsDict.paperlist %}
                            <tr class="title" id={{ paper.id }}>
                                <td class="clickable">{{ paper.title }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h2 style="margin-top:30px">Co-Authors List</h2>
                <table id="coauthorlist" class="table table-striped table-bordered" style="margin-bottom:30px">
                    <thead>
                        <tr>
                            <th>Co-Authors</th>
                            <th>Co-Authored Documents</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyCoauthor">
                        {% for coauthor in authordetailsDict.coauthorlist %}
{#                            <tr class="coauthor pointer" id={{ coauthor.id }}>#}
                            <tr class="coauthor" id={{ coauthor.id }} cis={{ coauthor.authorType }}>
                                <td class="coauthorName clickable">{{ coauthor.name }}</td>
                                <td class="coauthorPaper clickable">{{ coauthor.papercount }}</td>
{#                                <td class="pointer">{{ coauthor.name }}</td>#}
{#                                <td class="pointer">{{ coauthor.papercount }}</td>#}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>


    <script>
    $(document).ready(function() {
        $('#paperlist').DataTable();
        {#$('#paperlist_paginate').hide();#}
        $('#tbodyTitle').on('click', '.title', function () {
            var paperId = $(this).closest('tr').attr('id');
            console.log(paperId)
            var host = location.host;
            var url = "http://" + host + "/paperDetails/" + paperId;
            window.location.href = url;
        });


        $('#coauthorlist').DataTable();
        {#$('#coauthorlist_paginate').hide();#}
        $('#tbodyCoauthor').on('click', '.coauthorName', function () {
            var coauthorId = $(this).closest('tr').attr('id');
            var authorType = $(this).closest('tr').attr('cis');
            console.log(coauthorId);
            console.log(authorType);

            var host = location.host;
            if (authorType == "Y") {
                var url = "http://" + host + "/authorDetails/" + coauthorId;
                window.location.href = url;
            } else {
                var url = "http://" + host + "/coAuthorDetails/" + coauthorId;
                window.location.href = url;
            }

        });

        {#jump to coAuthoredPapers#}
        $('#tbodyCoauthor').on('click', '.coauthorPaper', function () {
            var coauthorId = $(this).closest('tr').attr('id');
            var cisauthorId = location.href.split('/');
            cisauthorId = cisauthorId[cisauthorId.length - 1];
            console.log(coauthorId);
            console.log(cisauthorId);
            var host = location.host;
            var url = "http://" + host + "/coAuthoredPapers/" + cisauthorId + "/" + coauthorId;
            window.location.href = url;
        });

        {#code flower#}
        {#var coauthorList = {{ authordetailsDict.coauthorlist | safe}};#}
        {#var children = [];#}
        {#for (var i in coauthorList) {#}
        {#    children.push({"name": coauthorList[i]["name"], "size": coauthorList[i]["papercount"]});}#}
        {#var authorName = "{{authordetailsDict.fullName | safe}}";#}
        {#var jsonData = {"name": authorName, "children": children};#}
        {##}
        {#var height = document.getElementById("authorRelationship").offsetHeight;#}
        {#var width = document.getElementById("authorRelationship").offsetWidth;#}
        {##}
        {#var myFlower = new CodeFlower("#authorRelationship", width, height);#}
        {#myFlower.update(jsonData);#}

        {#lian xi tu#}
    {#    var svg = d3.select('#authorRelationship')#}
    {#    .append("svg")#}
    {#    .attr("class","svg_ov");#}
    {##}
    {#d3.json({{authordetailsDict.jsonData | safe}}, function(error, graph) {#}
    {#    if (!error) {#}
    {#        createV4SelectableForceDirectedGraph(svg, graph);#}
    {#    } else {#}
    {#        console.error(error);#}
    {#    }    });#}

    });




    </script>


{% endblock %}