{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
    <link rel="icon" href="{% static "res/favicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.tag-editor.css' %}">

    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/jquery.caret.min.js' %}"></script>
    <script src="{% static 'js/jquery.tag-editor.js' %}"></script>
    <script src="{% static 'js/jquery.tag-editor.min.js' %}"></script>




    {% block src %}{% endblock src %}

    <style>
        {% block css %}{% endblock %}
    </style>

</head>
<body>
    <div>
      <img src="{% static 'res/background.jpg' %}" style="height: auto; max-width: 100%" class="img-responsive">
   </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Pub Analysis</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Overview </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Authors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Topics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <select class="browser-default custom-select input-group-sm" id="searchSelect" >
        <option selected>search by</option>
            <option value="author">Author</option>
            <option value="title">Title</option>
            <option value="topic">Topic</option>
        </select>


        <input class="form-control mr-sm-2" type="text" placeholder="Search" id="searchBox">

        <button class="btn btn-secondary my-2 my-sm-0" type="button" id="searchdb">Search</button>

    </form>
  </div>
</nav>

            {% block content %}{% endblock %}

</body>

<script>
    $('#searchdb').on('click',function(){
       var searchKey = document.getElementById("searchBox").value;
       var searchBy = document.getElementById("searchSelect").value;
       console.log(searchBy);
       console.log(searchKey);
       var host = location.host;
       if(searchKey!=""){
           if (searchBy == 'author'){
           var url = "http://"+host+"/authorCandidate/"+searchKey;
           window.location.href = url;
           }
           else if (searchBy == 'title'){
               var url = "http://"+host+"/paperCandidate/"+searchKey;
               window.location.href = url;
           }
           else{
               alert("please select search method.");
           }
       }else{
           alert("please enter some search term then press search.");
       }

    });

    $('input[type="text"]').tagEditor({ initialTags: ['tag1', 'tag2', 'tag3'] });

</script>
</html>