{% extends 'base.html' %}

{% block content %}

    <title>Co-Author Details</title>

    <div class="container">
        <div id="coauthorDetails" style="margin-top: 2rem; padding: 10px;box-shadow: 0 4px 6px 0 rgba(138, 138, 138, 0.749);
        border-radius: 0.4rem;" class="col-md-12">
            <h2 id="name">
                {{coauthordetailsDict.name}}
            </h2>
            <h4 id="affiliation">
                Affiliation: {{coauthordetailsDict.affiliation}}
            </h4>
            <h4 id="affiliation_city">
                Affiliation City: {{coauthordetailsDict.affiliation_city}}
            </h4>
            <h4 id="affiliation_country">
                Affiliation Country: {{coauthordetailsDict.affiliation_country}}
            </h4>

        </div>
    </div>

{% endblock %}