{% extends 'base.html' %}
# content for overview
# 全部人的联系-d3的图图

{% load staticfiles %}
{% comment %}  src library {% endcomment %}
{% block src %}
    <script src= "{% static 'js/d3.v3.min.js' %}"></script>
{% endblock src %}


{% comment %} CSS style {% endcomment %}
{% block css %}

    .page_container{
        display: flex;
        flex-direction: row;
        align-content:center;
        width:100%;
        border: transparent;
        padding: 0.5rem;
        background-color:rgba(180, 180, 139, 0.264);

    }
    .container_high{
    }


    .text_layout {
        margin: auto;
        width:100%
        min-width: 800px;
        flex:1
    }
    .text-paragraph{
        width:70%;
        margin:auto;
    }
    
    .graph_layout {
        margin: auto;
        width:100%
        min-width: 800px;
        flex:1
    }

    .graph_title {
        text-align: center;
        padding:0.75rem;
        margin-bottom:1rem;

    }
    .wide_graph{
        width:100%;
        height: 500px;
    }

    {% comment %} direct graph  {% endcomment %}
    #svg_ov {
        border: 1px solid;
        font: 13px sans-serif;
        text-anchor: end;
    }

    #d3_selectable_force_directed_graph .node {
        stroke: #fff;
        stroke-width: 1.5px;
    }

    .node .selected {
        stroke: black;
    }

    .link {
        stroke: #999;
    }



    {% comment %} pie chart {% endcomment %}
    .graph {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        width:100%;
        height:400px;
    }



    .pie_label{
        font-size: 0.6rem;
    }

    .svg_pie{
        width: 100%;
        height: 100%;
    }

    path.slice{
        stroke-width:2px;
    }

    polyline{
        opacity: .3;
        stroke: black;
        stroke-width: 2px;
        fill: none;
    }

    {% comment %} paper yearly trend{% endcomment %}
    .svg_pie {
        vetica Neue;
        fill: #666;
    }

    .birthyear,
    .age {
        text-anchor: middle;
    }

    .birthyear {
        fill: #fff;
    }

    rect {
        fill-opacity: .6;
        fill: #e377c2;
    }

    rect:first-child {
        fill: #1f77b4;
    }


    {% comment %} yearly publication trend {% endcomment %}

    .svg_yt {
        font: 10px sans-serif;
        height:100%;
    }

    .bar{
    fill: steelblue;
    }

    .bar:hover{
        fill: brown;
    }

    .bar_label{
        font: 10px sans-serif;
    }

    .axis {
        font: 10px sans-serif;
    }

    .axis path,
    .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    }
    
    text {
        font: 10px sans-serif;
    }


    .selection-hub-right{
        position: absolute;
        width: 13rem;
        right:2rem;
    }

      .selection-window{
        display: flex;
        flex-flow: column;
        align-items: center;
        height: 5rem;
        border: transparent;
        margin: 0.5rem 0;
        padding: 0.5rem;
        background-color:rgba(77, 77, 77, 0.264);
        box-shadow: 0 4px 6px 0 rgba(120, 120, 120, 0.749);
        border-radius: 0.4rem;
      }
      .selection-window .title{
        position: absolute;
        padding:  0 1rem;
        background: rgba(4, 42, 66, 0.75);
        transform: translate(0,-65%)
      }
      .selection-window .title p{
        font-size: 1rem;
        color: rgb(236, 225, 123);
        font-weight: 200;
      }
      .selection-window .content{
        width: 60%;
        margin: auto;
      }
      .select_lg {
        align-items: center;
        border: none;
        outline: none;
        height: 2rem;
        line-height: 2rem;
        padding-left: 2rem;
        background-color: rgba(4, 42, 66, 0.65);
        color:rgb(255, 255, 255);
        font-size: 1.25rem;
      }

      

{% endblock %}


{% comment %} HTML element {% endcomment %}

{% block content %}

<div class="page_container">
    <div class="selection-hub-right">
        <div class="selection-window" style="width:auto">
            <div class="title">
                <p>Select Data</p>
            </div>
            <div class="content">
                <select id="pie_type_btns" class="select_lg">
                    <option value="country">country</option>
                    <option value="university">university</option>
                </select>
            </div> 
        </div>
    </div>
    <div class = "graph_layout" id = "Pie_Chart">
        <h3 class = "graph_title" id = "pie_title">
            Pie Chart of Publication Over Countries
        </h3>
        <div class = "graph" id = "PieChart">
        </div>
    </div>
    <div class = "text_layout">
        <h3 class = "graph_title">
            Breif Analysis of Pie Chart
        </h3>
        <div class = "text-paragraph">
            <p id = "pie_analyze_text"></p>
        </div>
    </div>
</div>
<div class="page_container">
    <div class = "text_layout">
        <div class = "graph_title">
            <H3>Breif Analysis of Bar Chart</H3>
        </div>
        <div class = "text-paragraph">
                <p id = "bar_analyze_text"></p>
            </div>
    </div>
    
    <div class = "graph_layout">
        <div class = "graph_title">
            <H3>Publication Trend Over Years</H3>
        </div>
        <div class = "graph" id = "Year_Trend">
            <svg id = "svg_yt"></svg>
        </div>
    </div>
</div>
<div class="page_container container_high">
        <div id = "Bubble_Chart">
            <h3 class = "graph_title" id = "bubble_title">
                Topic Overviews
            </h3>
            <div class = "graph" id = "BubbleChart">
            </div>
        </div>
        <div class = "text_layout">
            <h3 class = "graph_title">
                Analysis of Topic
            </h3>
            <div class = "text-paragraph">
                <p id = "bubble_analyze_text"></p>
            </div>
        </div>
    </div>


<script>
    var windowWidth = window.innerWidth
    var countryData = {{countryList|safe}};
    var uniData = {{uniList|safe}}

    $(".container_high").css("height",(windowWidth/1.8).toString())

    var country_analyze = "As you can see from the pie chart, the researchers in Unimelb CIS have cooperated with scholars from all over the world, and the proportion is close to 75% compared with the total published articles. Among them, the UK and the United States have the most cooperation, and China ranks third."
    var university_analyze = "Our CIS researchers also have a lot of cooperation with other schools in Australia, mainly in Melbourne's local schools, such as Monash University, RMIT, Swingbourne, and of course the University of Queensland, the University of New South Wales. And the school itself cooperates with one third of each other."
    var pub_trend_analyze ="The CIS department article shown in the figure shows the number of articles published every year since 1979. We can see that this number is basically increasing year by year, there is a low point in 2011, and then there is a more obvious downward trend after 2017."
    var topic_analyze = "This figure shows the distribution of the topic of the CIS article based on topic modelling. We have divided 15 topics in total, each with corresponding hot words. We can see that the articles based on cloud computing, mobile, data security, sensor, clustering occupy the majority."
    $("#pie_analyze_text").text(country_analyze)
    $("#bar_analyze_text").text(pub_trend_analyze)
    $("#bubble_analyze_text").text(topic_analyze)

    var svg_pie = d3.select("#PieChart")
		.append("svg")
        .attr("class","svg_pie")
		.append("g")

    svg_pie.append("g")
        .attr("class", "slices");
    svg_pie.append("g")
        .attr("class", "labels");
    svg_pie.append("g")
        .attr("class", "lines");

    var width = windowWidth/2,
        height = windowWidth/4
        radius = Math.min(width, height) / 2;

    var pie = d3.layout.pie()
        .sort(null)
        .value(function(d) {
            return d.value;
        });

    var arc = d3.svg.arc()
        .outerRadius(radius * 0.7)
        .innerRadius(radius * 0.2);

    var outerArc = d3.svg.arc()
        .innerRadius(radius * 0.9)
        .outerRadius(radius * 0.9);

    svg_pie.attr("transform", "translate(" + width / 2 + "," + height/1.9 + ")");

    var key = function(d){ return d.data.label; };

    var color = d3.scale.ordinal()
       .range(["#ff6666","#66b2ff","#6666ff","#b266ff","#ffb266", "#ffff66", "#b2ff66", "#66ff66", "#66ffb2", "#66ffff","#ff66ff","#ff66b2","#c0c0c0","#aaff66", "#b2ffdd", "#eeff66", "#66ffcc", "#66ddff",]);

    function getMapData(data){
        return data.map(function(data){
            return { label: data.key, value: data.value }
        });
    }
    
    var country = getMapData(countryData)
    var uni = getMapData(uniData)

    
    pieSwitch = true;

    $("#pie_type_btns").change(function(){
            var select = $("#pie_type_btns").val()
            if(select == "country"){
                $("#pie_title").text("Pie Chart of Publication Over Countries")
                $("#pie_analyze_text").text(country_analyze)
                change(country);
                
            }else if(select == "university"){
                $("#pie_title").text("Pie Chart of Publication Over Autralia Univerities")
                $("#pie_analyze_text").text(university_analyze)
                change(uni);
            }
        });

    change(country)

    function change(data) {

        /* ------- PIE SLICES -------*/
        var slice = svg_pie.select(".slices").selectAll("path.slice")
            .data(pie(data), key);

        slice.enter()
            .insert("path")
            .style("fill", function(d) { return color(d.data.label); })
            .attr("class", "slice");

        slice		
            .transition().duration(1000)
            .attrTween("d", function(d) {
                this._current = this._current || d;
                var interpolate = d3.interpolate(this._current, d);
                this._current = interpolate(0);
                return function(t) {
                    return arc(interpolate(t));
                };
            })

        slice.exit()
            .remove();

        /* ------- TEXT LABELS -------*/

        var text = svg_pie.select(".labels").selectAll("text")
            .data(pie(data), key);

        text.enter()
            .append("text")
            .attr("dy", ".35em")
            .attr("class","pie_label")
            .text(function(d) {
                return d.data.label +": "+ d.data.value;
            });
        
        function midAngle(d){
            return d.startAngle + (d.endAngle - d.startAngle)/2;
        }

        text.transition().duration(1000)
            .attrTween("transform", function(d) {
                this._current = this._current || d;
                var interpolate = d3.interpolate(this._current, d);
                this._current = interpolate(0);
                return function(t) {
                    var d2 = interpolate(t);
                    var pos = outerArc.centroid(d2);
                    pos[0] = radius * (midAngle(d2) < Math.PI ? 1 : -1);
                    return "translate("+ pos +")";
                };
            })
            .styleTween("text-anchor", function(d){
                this._current = this._current || d;
                var interpolate = d3.interpolate(this._current, d);
                this._current = interpolate(0);
                return function(t) {
                    var d2 = interpolate(t);
                    return midAngle(d2) < Math.PI ? "start":"end";
                };
            });

        text.exit()
            .remove();

        /* ------- SLICE TO TEXT POLYLINES -------*/

        var polyline = svg_pie.select(".lines").selectAll("polyline")
            .data(pie(data), key);
        
        polyline.enter()
            .append("polyline");

        polyline.transition().duration(1000)
            .attrTween("points", function(d){
                this._current = this._current || d;
                var interpolate = d3.interpolate(this._current, d);
                this._current = interpolate(0);
                return function(t) {
                    var d2 = interpolate(t);
                    var pos = outerArc.centroid(d2);
                    pos[0] = radius * 0.95 * (midAngle(d2) < Math.PI ? 1 : -1);
                    return [arc.centroid(d2), outerArc.centroid(d2), pos];
                };			
            });
        
        polyline.exit()
            .remove();
    };



</script>


<script>

    // set the dimensions of the canvas
    var margin = {top: 50, right: 50, bottom: 50, left: 50},
        width = windowWidth/2 - margin.left - margin.right,
        height = windowWidth/4 - margin.top - margin.bottom;


    // set the ranges
    var x = d3.scale.ordinal().rangeRoundBands([0, width], .05);

    var y = d3.scale.linear().range([height, 0]);

    // define the axis
    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom")


    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left")
        .ticks(10);


    // add the SVG element
    var svg_bar = d3.select("#svg_yt")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", 
            "translate(" + margin.left + "," + margin.top + ")");

    

    // load the data
    d3.json("{% url "yearly_trend" %}", function(error, data) {
    
        data.forEach(function(d) {
            d.Letter= d["key"];
            d.Freq = +d["value"];
        });
        
    // scale the range of the data
    x.domain(data.map(function(d) { return d.Letter; }));
    y.domain([0, d3.max(data, function(d) { return d.Freq; })]);

    // add axis
    svg_bar.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis)
        .selectAll("text")
        .style("text-anchor", "end")
        .attr("dx", "-.8em")
        .attr("dy", "-.55em")
        .attr("transform", "rotate(-80)" );

    svg_bar.append("g")
        .attr("class", "y axis")
        .call(yAxis)
        .append("text")
        .attr("transform", "rotate(0)")
        .attr("y", 15)
        .attr("x" ,15)
        .attr("dy", "0.5em")
        .style("text-anchor", "start")
        .text("Paper Number");


    // Add bar chart
    svg_bar.selectAll("bar")
        .data(data)
        .enter().append("rect")
        .attr("class", "bar")
        .attr("x", function(d) { return x(d.Letter); })
        .attr("width", x.rangeBand())
        .attr("y", function(d) { return y(d.Freq); })
        .attr("height", function(d) { return height - y(d.Freq); });
    
    svg_bar.selectAll("bar")
        .data(data)
        .enter().append("text")
        .attr("x", function(d) { return x(d.Letter); })
        .attr("y", function(d) { return y(d.Freq+7); })
        .attr("class", "bar_label")
        .text(function(d){return d.Freq})
    });

</script>

<script>

    var diameter = windowWidth/2,
        format = d3.format(",d"),
        color = d3.scale.category20c();
    
    var bubble = d3.layout.pack()
        .sort(null)
        .size([diameter, diameter])
        .padding(1.5);
    
    var svg = d3.select("#BubbleChart").append("svg")
        .attr("class","svg_bb")
        .attr("width", diameter)
        .attr("height", diameter)
        .attr("class", "bubble");
        
    var tooltip = d3.select("body")
        .append("div")
        .style("position", "absolute")
        .style("z-index", "10")
        .style("visibility", "hidden")
        .style("color", "white")
        .style("padding", "8px")
        .style("background-color", "rgba(0, 0, 0, 0.75)")
        .style("border-radius", "6px")
        .style("font", "12px sans-serif")
        .text("tooltip");
    
    d3.json("{% url "topic_overview" %}", function(error, root) {
        console.log(root)
        var node = svg.selectAll(".node")
            .data(bubble.nodes(classes(root))
            .filter(function(d) { return !d.children; }))
            .enter().append("g")
            .attr("class", "node")
            .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
    
        node.append("circle")
            .attr("r", function(d) { return d.r; })
            .style("fill", function(d) { return color(d.packageName); })
            .on("mouseover", function(d) {
                    tooltip.text(d.className + ": " + format(d.value));
                    tooltip.style("visibility", "visible");
            })
            .on("mousemove", function() {
                return tooltip.style("top", (d3.event.pageY-10)+"px").style("left",(d3.event.pageX+10)+"px");
            })
            .on("mouseout", function(){return tooltip.style("visibility", "hidden");});
    
        node.append("text")
            .attr("dy", ".3em")
            .style("text-anchor", "middle")
            .style("pointer-events", "none")
            .text(function(d) { return d.className.substring(0, d.r / 3); });
    });
    
    // Returns a flattened hierarchy containing all leaf nodes under the root.
    function classes(root) {
        var classes = [];
    
        function recurse(name, node) {
        if (node.children) node.children.forEach(function(child) { recurse(node.name, child); });
        else classes.push({packageName: name, className: node.name, value: node.size});
        }
    
        recurse(null, root);
        return {children: classes};
    }
    
    d3.select(self.frameElement).style("height", diameter + "px");
    
    </script>


{% endblock %}