{% extends 'base.html' %}
# content for paper candidate
# title, CIS author, year, partial abstract
{% block css %}
    .pointer {cursor: pointer;}
    .paperResult{
        text-decoration: underline;
    }
    .keyword {cursor:pointer;}
    .keyword:hover{color:#000080}
    .clickable{cursor:pointer}
    .clickable:hover {text-decoration: underline; cursor: pointer; color:#000080;}
     h3 {
  line-height: 1.45;
}


{% endblock %}
{% block content %}
    <div class="columns medium-10">
        <h2 style="margin-left:65px; margin-top:20px"> search result for: {{ searchstr}}</h2>
        <h6 style="margin-left:65px"> {{ size }} search results found for "{{ searchstr }}" in database. </h6>
        <hr>
        <div class="search-result col-md-10" style="margin-left:80px">
            {% for item in res %}
                <h3 class="paperResult" style="margin-top: 10px" id={{ item.id }}><span class="clickable pointer">{{ item.title }}</span></h3>
                <h5 style="margin-top:5px">{{ item.year }}</h5>

                <p><b>CIS Authors:</b>
                    {% for author in item.CisAuthor %}
                        <span class="clickable" id={{ author.id }}>{{ author.name }}</span>
                        <span> | </span>
                        {% endfor %}
                        </p>

                <h5><b>Abstract:</b></h5>
                <p style="margin-bottom: 20px">{{ item.abstract }}...</p>
                <h6 style="margin-top:10px">

                    {% for word in item.keyword %}

                        <span class="badge badge-pill keyword" id={{ word }}>{{word}}</span>

                    {% endfor %}
                </h6>
                <h5 style="margin-bottom: 30px"><span class="badge badge-pill badge-dark">{{ item.type }}</span></h5>

            {% endfor %}
        </div>

    </div>
    <script>

        $('.paperResult').on('click', function () {
            var paperId = $(this).attr('id');
            console.log(paperId);
            var host = location.host;
            var url = "http://"+host+"/paperDetails/"+paperId;
            window.location.href = url;
        });

        $('.clickable').on('click',function(){
            var personId = $(this).attr('id');
            var host = location.host;
            var url = "http://"+host+"/authorDetails/"+personId;
            window.location.href = url;
        });

        $('.keyword').on('click',function(){
            var searchTerm = $(this).attr('id');
            var host = location.host;
            var url = "http://"+host+"/keywordsCandidate/"+searchTerm;
            window.location.href = url;
        });
        $(document).ready(function(){
            var keywordBubble = document.getElementsByClassName('keyword');
            for (var i = 0; i< keywordBubble.length; i++){
                var j = i%3;
                if (j ==0 ){
                    keywordBubble[i].classList.add('badge-success');
                }
                if (j ==1){
                    keywordBubble[i].classList.add('badge-primary');
                }
                if (j ==2){
                    keywordBubble[i].classList.add('badge-info');
                }

            }
        });


    </script>
{% endblock %}


    
