{% extends 'base.html' %}
# content for paper details
# title, year, CIS author, all author, cited count, paper type, full abstract
{% block css %}
    .clickable:hover {text-decoration: underline; cursor: pointer; color:#000080;}
    #title {text-decoration: underline;}
     h2 {
  line-height: 1.45;
}
{% endblock %}

{% block content %}

    <title>Paper Details</title>

    <div id="paperDetails" style="margin: 10px; padding: 10px; margin-left: 60px" class="col-md-10">

        <h2 id="title">
            <b>{{paperdetailsDict.title}}</b>
        </h2>
        <h4 id="year" style="margin-top:20px">
            <b>Published Year: </b>{{paperdetailsDict.coverDateYear}}
        </h4>
        <section id="authorlist">
            <ul id="cisauthorlist" >
                <h5>
                    <b>CIS Author(s)</b>
                </h5>
                {% for cisAuthor in paperdetailsDict.CISAuthors %}
                    <!--can be clicked-->
{#                    <li style="display: inline-block">#}
                    <li class="cisauthor" id={{ cisAuthor.id }}>
                        <span class="clickable">{{ cisAuthor.name }}</span>
                    </li>
                {% endfor %}
            </ul>

            <ul id="coauthorlist">
                <h5>
                    <b>All Author(s)</b>
                </h5>
                {% for coAuthor in paperdetailsDict.co_author %}
                    <!--can be clicked-->
                    <li>
                        <span class="allauthor clickable" id={{ coAuthor.id }} authorType={{ coAuthor.authorType }}>
                            {{ coAuthor.name }}
                        </span>

                    </li>
                {% endfor %}
            </ul>
        </section>
        <h6 id="citedCount" style="margin-bottom: 30px">
            <b>Cited Count: </b>
            <span class="badge badge-pill badge-info">
                {{paperdetailsDict.cite_count}}
            </span>
        </h6>

        <h6 id="keyword" style="margin-top:10px">
            <b>Keywords: </b>
                {% for keyword in paperdetailsDict.keyword %}
                    <span class="badge badge-pill badge-success">
                        {{keyword}}
                    </span>
                {% endfor %}
        </h6>

        <h6 id="paperType" style="margin-bottom: 30px">
            <b>Paper Type: </b>
            <span class="badge badge-pill badge-dark">
                {{paperdetailsDict.paper_type}}
            </span>
        </h6>

        <h4>
            <button id="recommended" type="button" class="btn btn-outline-primary">
                <b>Click to view more relevant paper</b>
            </button>
        </h4>

        <hr style="height: 2px; border: none; border-top: 2px dashed #185598;" />
        <h6><b>Abstract</b></h6>
        <p id="abstract" style="margin-bottom: 20px">
            {{paperdetailsDict.abstract}}
        </p>



    </div>

    <script>

        $(document).ready(function(){

            $('#cisauthorlist').on('click', '.cisauthor', function () {
                var authorId = $(this).attr('id');
                console.log(authorId)
                var host = location.host;
                var url = "http://" + host + "/authorDetails/" + authorId;
                window.location.href = url;
            });


            $('.allauthor').on('click', function () {
                var authorId = $(this).attr('id');
                var authorType = $(this).attr('authorType');
                console.log(authorId);
                console.log(authorType);

                var host = location.host;
                if(authorType == "Y"){
                    var url = "http://" + host + "/authorDetails/" + authorId;
                    window.location.href = url;
                }
                else{
                    var url = "http://" + host + "/coAuthorDetails/" + authorId;
                    window.location.href = url;
                }
            });
            
            $('#recommended').on('click', function () {
                var paperId = location.href.split('/');
                paperId = paperId[paperId.length-1];
                console.log(paperId);
                var host = location.host;
                var url = "http://" + host + "/recommmendedPapers/" + paperId;
                window.location.href = url;
            });

        });

    </script>

{% endblock %}